
* {
    margin: 0%;
    padding: 0%;
}

body {
    background: url("../imagenes/fondo1.jpg");
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
    min-width: 100vw;
}

a {
    text-decoration: none;
}

.header {
    background-color: #006E7F;   
       
}

.header__menu__lista__item {
    font-size: 25px;
    display: inline-block;
    margin: 15px;
    letter-spacing: 1px;
} 

.header__menu__lista__item a {
    color: white !important;
}

.header__menu__lista {
    
    list-style: none;
    height: fit-content;
    background-color: #006E7F;
    margin: 0 auto;

    font-family: 'Shadows Into Light';
}

.divheader__menu__lista {
   
    background-color: #006E7F;

    font-family: 'Shadows Into Light';
    font-size: 25px;
    margin: none;

}

li a:hover {
   
    text-decoration: underline;
    color: black !important;

}


@media screen and (min-width: 200px) {
    .wide {
        grid-column: span 2;
    }

    .tall {
        grid-row: span 2;
    }
}

img {
    width: 100%;
    object-fit: contain;
}

.layout {
    display: grid;
    grid-template-areas:
        'header header header header'
        'main main main aside'
        'footer footer footer footer'
    ;
}