.flex_container_contacto {
   
    padding: 20px;
    font-size: 20px;
    text-align: justify;
    font-family: 'Shadows Into Light';
    display: flex;
    justify-content: center;

}

.h2__contacto {
    color: white;
    font-family: 'Shadows Into Light';
    text-decoration: underline;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.h2__contacto2 {
    color: white;
    font-family: 'Shadows Into Light';
    text-decoration: underline;
    text-align: center;
}

.submit {
    margin-left: 170px;
}

.container_mapa {
    margin-left: 60px;
}