.flex_container_contacto {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 50px;
        text-align: center;
}


.contacto_form{
    padding: 10px;
    font-size: 20px;
    font-family: 'Shadows Into Light';
}

// .contacto_map{
//     margin-left: 20px;
// }

.col-12{
    padding-bottom: 15px;
}

.form-control{
    width: 80%;
}

.mapa{
    width: 90%;
}

.h2__contacto {
    color: white;
    font-family: 'Shadows Into Light';
    text-decoration: underline;
    font-weight: bold;
    font-size: 40px;
}

.submit {
    margin-left: 170px;
}

